/*EJERCICIO1*/
.header {
    border: 1px solid black;
    background-color: antiquewhite;
    padding: 30px;
    width: 200px;
    border-radius: 100px;

}

.ejercicio1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    border: 1px solid black;
    padding: 50px;
    width: 500px;
    height: 100%;
}

.container h3 {
    background-color: rgb(24, 96, 96);
    padding: 10px;
    color: rgb(241, 241, 241);
    font-size: larger;
}

/*EJERCICIO2*/
.ejercicio2 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pswdCont {
    display: flex;
    border: 1px solid black;
    background-color: antiquewhite;
    padding: 30px;
    width: 500px;
    gap: 20px;
    border-radius: 100px;
}

.pswdCont button{
    padding: 10px;
}